<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="org.fipro.ds.target" sequenceNumber="1530644893">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.14.0.v20180510-1129"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.0.v20180518-2029"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.8.0.I20180611-0500"/>
      <unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.0.v20180518-0149"/>
      <repository location="http://download.eclipse.org/releases/photon/"/>
    </location>
  </locations>
</target>
